@model IEnumerable<McvExamenCubos.Models.Cubo>

@{
    ViewData["Title"] = "CubosMarca";
    List<BlobModel> listBlobs = ViewData["Imagenes"] as List<BlobModel>;
}

<h1>Cubos Marca @ViewData["Marca"]</h1>


<div class="row">
@foreach (var prod in Model) {
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                @foreach (BlobModel blob in listBlobs)
                {

                    @if (blob.Nombre == prod.Imagen)
                    {
                        <div class="col-md-4">
                            <img src="@blob.Url" class="rounded-start" alt="..." style="height:250px; width: 150px">
                        </div>
                    }

                }
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">@prod.Nombre</h5>
                        <p class="card-text">@prod.Marca</p>
                        <p class="card-text"><small class="text-muted">@prod.Precio€</small></p>
                    </div>
                    <a asp-action="Details" asp-controller="Tienda" asp-route-id="@prod.IdCubo" class="btn btn-primary">
                        Detalles
                    </a>
                </div>
            </div>
        </div>
}
</div>

